{%- set BAR = '<｜image｜>' -%}{{ bos_token }}{%- for m in messages -%}{%- if m['role'] == 'user' -%}<｜User｜>{%- if m['content'] is string -%}{%- if BAR in m['content'] -%}{{ BAR }}{{ m['content'].split(BAR)[-1] | trim }}{%- else -%}{{ m['content'] | trim }}{%- endif -%}{%- else -%}{%- for p in m['content'] -%}{%- if p['type'] == 'image_url' or p['type'] == 'image' -%}{{ BAR }}{%- elif p['type'] == 'text' -%}{{ p['text'] | trim }}{%- endif -%}{%- endfor -%}{%- endif -%}{%- elif m['role'] == 'assistant' -%}<｜Assistant｜>{{ m['content'] }}{{ eos_token }}{%- endif -%}{%- endfor -%}{%- if add_generation_prompt -%}<｜Assistant｜>{%- endif -%}
